{% if app.user %}

<h3>Template profile/formTest.html.twig</h3>

<v-card-text class="mt-4">

    {# {{ form_start(imgForm2) }}

    {{ form_row(imgForm2.avatar, {'label': 'Nouvelle image de profil','label_attr': {'class': 'special-label'}, 'attr': {'class': 'input-file'}}) }}

    <button type="submit" class="register-sublink">Actualiser</button>

    {{ form_end(imgForm2) }} #}

</v-card-text>


{% endif %}
