{% if app.user %}

<h3>Template profile/profile.html.twig</h3>

<p>{{ miniMessage }}</p>

<v-card-text class="mt-4">

        {# {{ form_start(formProfiler) }}

        {{ form_row(formProfiler.avatar, {'label': 'Nouvelle image de profil','label_attr': {'class': 'special-label'}, 'attr': {'class': 'input-file'}}) }}

        <button type="submit" class="register-sublink">Actualiser</button>

        {{ form_end(formProfiler) }} #}

</v-card-text>


{% endif %}
