{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Compte{% endblock %}
{% block body %}

<v-card class="special-background" flat outlined></v-card>

<v-container fluid class="mt-n3">

    <v-row class="box-new-position">

        <v-col cols="12">

            <v-card class="pa-5" color="rgba(255,255,255,0)" outlined>

                <v-row>

                    <v-col cols="12" md="4"></v-col>

                    <v-col cols="12" md="4">

                        <v-card class="pa-5" outlined color="rgba(255,255,255,0.2)">

                            {{ form_start(profileForm) }}

                            {{ form_row(profileForm.avatar, {'label': 'Nouvelle image de profil','label_attr': {'class': 'special-label'}, 'attr': {'class': 'input-file'}}) }}

                            <button type="submit" class="register-sublink">Actualiser&nbsp;&nbsp;<i class="fas fa-user-circle"></i></button>

                            {{ form_end(profileForm) }}

                        </v-card>

                    </v-col>

                    <v-col cols="12" md="4"></v-col>

                </v-row>

            </v-card>

        </v-col>

    </v-row>

</v-container>

<div class="big-spacer"></div>
<div class="big-spacer"></div>

{% endblock %}
