{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Connexion{% endblock %}
{% block body %}

<v-card class="special-background" flat outlined></v-card>

<v-container fluid class="mt-n3">
    <v-row>

        <v-col cols="12">

            <v-card class="pa-5" color="rgba(255,255,255,0)" outlined>

                <v-row>

                    <v-col cols="12" md="4"></v-col>

                    <v-col cols="12" md="4">
                        <v-card class="pa-5" outlined color="rgba(255,255,255,0.2)">

                            {% if error %}

                                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                
                            {% endif %}

                            <form action="{{ path('security_connexion')}}" method="post">

                                <input placeholder="Email" required name="_username" type="text">

                                <input placeholder="Mot de passe" required name="_password" type="password">

                                <button type="submit">Connexion</button>

                            </form>

                        </v-card>
                    </v-col>

                    <v-col cols="12" md="4"></v-col>

                </v-row>

            </v-card>
        </v-col>

    </v-row>
</v-container>

<div class="big-spacer"></div>
<div class="big-spacer"></div>

{% endblock %}
