{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • New Password{% endblock %}
{% block body %}

<v-card class="special-background" flat outlined></v-card>

<v-container fluid class="mt-n3">

    <v-row>

        <v-col cols="12">

            <v-card class="pa-5" color="rgba(255,255,255,0)" outlined>

                <v-row>

                    <v-col cols="12" md="4"></v-col>

                    <v-col cols="12" md="4">

                        <v-card class="pa-5" outlined color="rgba(255,255,255,0.2)">

                            {{ form_start(formNewpass) }}

                            {{ form_row(formNewpass.password, {'label': ' ', 'attr': {'placeholder': 'Nouveau mot de passe'}}) }}

                            {{ form_row(formNewpass.confirm_password, {'label': ' ', 'attr': {'placeholder': 'Confirmation'}}) }}

                            <button type="submit">Modifier</button>

                            {{ form_end(formNewpass) }}

                        </v-card>

                    </v-col>

                    <v-col cols="12" md="4"></v-col>

                </v-row>

            </v-card>

        </v-col>

    </v-row>

</v-container>

<div class="big-spacer"></div>
<div class="big-spacer"></div>

{% endblock %}
