@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.profile-format {
  max-width: 105px;
}

.btn-profile {
  top: 4px;
  right: 255px;
  z-index: 10;
  overflow: hidden;
}

@media all and (max-width: 959px) {
  .btn-profile {
    top: 1px;
    right: 140px;
  }
}

@media all and (max-width: 500px) {
  .btn-profile {
    top: auto;
    bottom: 0;
  }
}

@media all and (max-width: 350px) {
  .btn-profile {
    display: none;
  }
}

.profile-mini-img {
  max-width: 42px;
  border-radius: 100%;
}

.comment-post-btn {
  margin-top: 10px;
  margin-left: 10px;
  float: right;
}

.update-confirm-btn {
  right: 34px;
  position: absolute;
  padding: 10px;
}

.update-redo-btn {
  right: 34px;
  position: absolute;
  margin-top: -20px;
  padding: 10px;
}

.update-post-btn {
  margin-top: 28px;
  margin-right: 12px;
  float: right;
}

.photo-step-errors {
  width: 100%;
}

.new-post-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.default_img {
  z-index: -1;
  min-height: 200px;
}

.create-col-1 {
  z-index: 1;
}

.edit-post-mini-label {
  color: black;
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
}

.photo-img {
  width: 100%;
}

.update_feature_box {
  width: 100%;
  height: 0;
  opacity: 0;
  margin-top: 50px;
  margin-bottom: -60px;
  padding-left: 20%;
  padding-right: 20%;
}

.update_featured_input {
  caret-color: auto;
}

.create_feature_box {
  width: 100%;
  height: 0;
  opacity: 0;
  margin-top: 30px;
  margin-bottom: -10px;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 1;
}

.create_feature_box li {
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  width: 154px;
  padding: 4px;
}

.create-col-title li {
  color: red;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 188px;
  padding: 4px;
}

.update_feature_box li {
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  width: 154px;
  padding: 4px;
}

.update-col-title li {
  color: red;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 188px;
  padding: 4px;
}

.create_featured_input {
  caret-color: auto;
}

.member_avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
}

.drawer-index {
  z-index: 12;
}

.drawer-icon-1 {
  font-size: 17px;
  text-indent: 10px;
}

.drawer-icon-2 {
  font-size: 15px;
  text-indent: 10px;
}

.drawer-list-title {
  font-size: 15px;
}

.footer-title-size {
  font-size: 17px;
}

.footer-link {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-link-color {
  color: white;
}

.perso-link {
  color: white;
  transition: 0.5s;
}

.linkedin-icon {
  padding-right: 20px;
  font-size: 36px;
}

.github-icon {
  font-size: 36px;
}

.reset-pass-link {
  float: right;
  margin-top: -2px;
}

.search-button {
  background-color: #1e88e5;
}

.register-sublink {
  float: right;
}

.redo-btn {
  right: 34px;
  position: absolute;
  margin-top: -20px;
  padding: 10px;
}

.confirm-btn {
  right: 34px;
  position: absolute;
  padding: 10px;
}

.create-btn {
  margin-top: 28px;
  margin-right: 12px;
  float: right;
}

.open-modal-btn {
  margin-top: -40px;
}

.update-chapter-btn-box {
  width: 99%;
  z-index: 1;
  text-align: right;
  margin-bottom: -40px;
}

@media all and (max-width: 960px) {
  .update-chapter-btn-box {
    width: 98%;
  }
}

.create-chapter-btn-box {
  width: 99%;
  z-index: 1;
  text-align: right;
  margin-bottom: -40px;
}

@media all and (max-width: 960px) {
  .create-chapter-btn-box {
    width: 98%;
  }
}

.special-trash-button {
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 4px;
  background-color: grey;
  color: white;
  outline-style: none;
  transition: 0.5s;
  font-weight: bold;
  right: 34px;
  position: absolute;
  margin-top: -20px;
}

.special-trash-button:hover {
  background-color: red;
}

@media all and (min-width: 501px) {
  .smart-slider {
    margin-top: -10px;
  }
}

@media all and (max-width: 500px) {
  .navbar {
    top: auto;
    bottom: 0;
  }

  .smart-slider {
    margin-top: -70px;
  }

  .post-title {
    margin-top: -70px;
  }

  .fixed-scroll-to-top {
    position: fixed;
    bottom: 70px;
    height: 36px;
    width: 36px;
  }

  .fixed-share-btn {
    bottom: 70px;
  }

  .new-trick-box {
    margin-top: -90px;
  }

  .box-new-position {
    margin-top: -80px;
  }
}

#go-down-to-tricks {
  float: right;
  margin-top: -80px;
  z-index: 1;
}

#go-up-to-tricks {
  float: left;
}

.custom-spacer {
  height: 70px;
}

.thirty-spacer {
  height: 30px;
}

.forty-spacer {
  height: 40px;
}

.pen-style {
  float: right;
  margin-right: 8px;
  margin-top: -42px;
  color: rgb(167, 57, 167);
}

.pen-style:hover {
  color: rgb(236, 103, 236);
}

.trash-style {
  float: right;
  margin-right: 46px;
  margin-top: -42px;
  color: red;
}

.trash-style:hover {
  color: rgb(252, 141, 141);
}

.para-fa-pen {
  position: absolute;
  top: 36px;
  right: 20px;
  color: rgb(167, 57, 167);
}

.para-fa-pen:hover {
  color: rgb(236, 103, 236);
}

.para-fa-trash {
  position: absolute;
  top: 76px;
  right: 20px;
  color: red;
}

.para-fa-trash:hover {
  color: rgb(252, 141, 141);
}

.para-fa-pen-2 {
  position: absolute;
  top: 40px;
  right: 30px;
  color: rgb(167, 57, 167);
}

.para-fa-pen-2:hover {
  color: rgb(236, 103, 236);
}

.para-fa-trash-2 {
  position: absolute;
  top: 86px;
  right: 30px;
  color: red;
}

.para-fa-trash-2:hover {
  color: rgb(252, 141, 141);
}

.index-img {
  z-index: -1;
  min-height: 200px;
}

.one-chapter-btn-box {
  width: 99%;
  z-index: 1;
  text-align: right;
  margin-bottom: -40px;
}

@media all and (max-width: 960px) {
  .one-chapter-btn-box {
    width: 98%;
  }
}

.mini-background {
  padding: 6px 12px 6px 12px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
}

.mini-background-2 {
  padding: 8px 8px 8px 8px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
}

.one-chapter-pen {
  color: rgb(167, 57, 167);
  padding-right: 20px;
}

.one-chapter-pen:hover {
  color: rgb(236, 103, 236);
}

.one-chapter-trash {
  color: red;
}

.one-chapter-trash:hover {
  color: rgb(252, 141, 141);
}

.centered-infos {
  text-align: center;
}

#next_figures {
  display: flex;
  flex-flow: row wrap;
  padding-left: 140px;
  padding-right: 140px;
}

@media all and (max-width: 1264px) {
  #next_figures {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (max-width: 960px) {
  #next_figures {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.figures-box {
  display: none;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

@media all and (max-width: 1500px) {
  .figures-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (max-width: 960px) {
  .figures-box {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.inside-box {
  display: inline-block;
}

.injected-img {
  width: 350px;
  height: 200px;
}

.injected-content {
  width: 340px;
}

@media all and (max-width: 1550px) {
  .injected-img {
    width: 300px;
    height: 200px;
  }

  .injected-content {
    width: 280px;
  }
}

@media all and (max-width: 1300px) {
  .injected-img {
    width: 280px;
    height: 180px;
  }

  .injected-content {
    width: 280px;
  }
}

@media all and (max-width: 960px) {
  .injected-img {
    width: 580px;
    height: 380px;
  }

  .injected-content {
    width: 570px;
  }
}

@media all and (max-width: 600px) {
  .injected-img {
    width: 100%;
    height: auto;
  }

  .injected-content {
    width: 100%;
  }
}

.hidden-box {
  display: none;
}

label {
  color: white;
}

.special-label {
  color: black;
}

.home-post-content {
  font-family: 'Quicksand', sans-serif;
  cursor: default;
  font-size: 17px;
  color: black;
}

.home-post-caption {
  font-family: 'Quicksand', sans-serif;
  cursor: default;
  font-size: 13px;
  color: #474747;
}

.backoff-caption {
  font-family: 'Quicksand', sans-serif;
  cursor: default;
  font-size: 13px;
  color: #474747;
}

.comment-post-content {
  font-family: 'Quicksand', sans-serif;
  cursor: default;
  font-size: 17px;
  color: black;
}

.comment-post-caption {
  font-family: 'Quicksand', sans-serif;
  cursor: default;
  font-size: 15px;
  color: #474747;
}

.special-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #85c1e9;
}

.mini-spacer {
  height: 5px;
}

.regular-spacer {
  height: 10px;
}

.medium-spacer {
  height: 50px;
}

.big-spacer {
  height: 200px;
}

#trick-box .load-more {
  display: none;
}

.input-file {
  width: 100%;
  height: 50px;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
  outline-style: none;
}

.my-span-title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#spinner {
  background-color: #85C1E9;
  text-align: center;
  height: 100vh;
}

.loading {
  margin-top: 100px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(181, 205, 250);
  border-radius: 50%;
  border-top-color: cornflowerblue;
  animation: spin 0.4s ease-in-out infinite;
  -webkit-animation: spin 0.4s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.v-application {
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
}

.v-carousel .v-btn .v-btn__content .v-icon {
  opacity: 1;
}

.v-carousel .v-btn .v-btn__content .v-icon:hover {
  opacity: 0.3;
}

@media all and (min-width: 960px) {
  .v-carousel .v-btn .v-btn__content .v-icon {
    font-size: 50px;
    color: white;
    text-shadow: 1px 2px black;
  }
}

.post-font-size {
  font-size: 20px;
  color: #444;
}

#the-logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  z-index: 11;
}

@media all and (max-width: 600px) {
  #the-logo {
    display: none;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #1562ad;
}

.v-btn:hover {
  color: white;
}

.footer-link:hover {
  color: white;
}

.responsive-image {
  width: 100%;
}

.posts-list-button:hover {
  color: #2a3b4d;
}

.deco-logo {
  position: fixed;
  top: 10px;
  left: 280px;
  z-index: 10;
}

@media all and (max-width: 960px) {
  .deco-logo {
    width: 46px;
    height: 39px;
    top: 8px;
    left: 280px;
    z-index: 10;
  }
}

@media all and (max-width: 600px) {
  .deco-logo {
    left: 80px;
  }
}

@media all and (max-width: 500px) {
  .deco-logo {
    top: auto;
    bottom: 10px;
  }
}

.login-btn {
  top: 2px;
  right: 70px;
  z-index: 10;
}

.login-btn-2 {
  top: 2px;
  right: 70px;
  z-index: 11;
  border-radius: 4px;
  font-size: 15px;
}

@media all and (max-width: 500px) {
  .login-btn {
    top: auto;
    bottom: 0;
  }

  .login-btn-2 {
    top: auto;
    bottom: 0;
  }
}

.btn-magnify {
  top: 2px;
  right: 10px;
  z-index: 10;
}

@media all and (max-width: 500px) {
  .btn-magnify {
    top: auto;
    bottom: 0;
  }
}

input[type=text] {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=text]:focus {
  border: 1px solid #555;
}

input[type=search] {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=search]:focus {
  border: 1px solid #555;
}

input[type=password] {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=password]:focus {
  border: 1px solid #555;
}

input[type=email] {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

input[type=email]:focus {
  border: 1px solid #555;
}

textarea {
  width: 100%;
  padding: 10px 13px;
  height: 150px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

textarea::-webkit-scrollbar {
  width: 0;
}

.area-resize {
  height: 50px;
  overflow: hidden;
}

textarea:focus {
  border: 1px solid #555;
}

.screen_class {
  height: 0;
  width: 0;
  padding: 0;
  border: 1px solid transparent;
}

.screen_class:focus {
  border: 1px solid transparent;
}

.hidden_btn {
  display: none;
}

.interactive_btn {
  color: black;
  padding: 10px;
  transition: 0.2s;
}

.interactive_btn:hover {
  color: rgb(75, 75, 75);
  transition: 0.2s;
}

.interactive_btn_2 {
  color: white;
  padding: 10px;
  font-size: 28px;
  transition: 0.2s;
}

.interactive_btn_2:hover {
  color: black;
  transition: 0.2s;
}

button[type=submit] {
  cursor: pointer;
  padding: 10px 13px;
  border-radius: 4px;
  background-color: #1E88E5;
  margin-top: 5px;
  color: white;
  outline-style: none;
  transition: 0.5s;
  font-weight: bold;
}

button[type=submit]:hover {
  background-color: #3698ee;
}

input[type=submit] {
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 4px;
  background-color: #1E88E5;
  margin-top: 5px;
  color: white;
  outline-style: none;
  transition: 0.5s;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #3698ee;
}

.special-button {
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 4px;
  background-color: #1E88E5;
  color: white;
  outline-style: none;
  transition: 0.5s;
  font-weight: bold;
}

.special-button:hover {
  background-color: #3698ee;
}

.edit-post-button {
  border-radius: 4px;
}

.edit-post-button:hover {
  opacity: 0.85;
}

select {
  width: 100%;
  padding: 10px 13px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  background-color: white;
}

select:focus {
  border: 1px solid #555;
}

.save-button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
}

.edit-button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: orange;
  color: white;
}

.simple-line {
  color: #dcdcdc;
  opacity: 0.3;
}

.backoff-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  word-wrap: break-word;
}

.searching-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  word-wrap: break-word;
}

.excerpt-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  word-wrap: break-word;
}

.post-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  word-wrap: break-word;
}

.post-list-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  word-wrap: break-word;
}

.slide-title {
  position: absolute;
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 100%);
  padding-top: 20px;
  padding-bottom: 80px;
  bottom: -3%;
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  text-transform: uppercase;
  transition: 0.5s;
}

.slide-title:hover {
  color: rgb(70, 70, 70);
  transition: 0.5s;
}

@media all and (max-width: 600px) {
  .slide-title {
    bottom: -5%;
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 42px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 100%);
  }
}

.image-wrapper {
  transition: transform 1s ease-in-out;
}

.image-wrapper:hover {
  transform: scale(1.05);
}

.v-window__next,
.v-window__prev {
  background: transparent;
}

.special-chevron {
  position: absolute;
  color: white;
  margin-left: -20px;
  margin-top: 7px;
}

@media all and (min-width: 1265px) {
  .comments-box {
    padding-left: 200px;
    padding-right: 200px;
  }
}
