
<h3>DEMANDE DE CONFIRMATION DE VOTRE NOUVEAU COMPTE SNOWTRICKS</h3>
  
<h4>" Cher {{ member.username|capitalize }}, cliquez sur ce lien pour confirmer votre compte Snow Tricks "</h4>

<a href="{{ url('confirm_account', { username : member.username , token : member.token }) }}" class="button">CONFIRMER MON COMPTE<a>
