<div class="medium-spacer"></div>

<v-footer padless color="blue darken-4">

    <v-container>

        <v-layout row wrap>

            <v-col cols="12">

                <v-container fluid>

                    <v-layout :column="$vuetify.breakpoint.smAndDown">

                        <v-flex>

                            <v-card flat class="text-center" color="blue darken-4" outlined>

                                <v-card-text class="white--text">

                                    &nbsp;

                                </v-card-text>
                                
                            </v-card>

                        </v-flex>

                        <v-flex>
                            <v-card flat class="text-center" color="blue darken-4" outlined>
                                <v-card-text class="white--text">

                                    <p style="font-size:17px;">RÉALISATION</p>

                                    <a href="https://github.com/JEND-CODES" target="_blank" style="color:white;">

                                        <p class="mb-12 footer-link" style="font-size:16px;font-weight:bold;letter-spacing:1px;">JEAN-EUDES NOUAILLE-DEGORCE</p>

                                    </a>

                                    <a style="color:white;transition:0.5s;" href="https://www.linkedin.com/in/jean-eudes-nouaille-degorce/" target="_blank">
                                        <i class="fab fa-linkedin fa-2x" style="padding-right:20px;font-size:36px;"></i>
                                    </a>

                                    <a style="color:white;transition:0.5s;" href="https://github.com/JEND-CODES" target="_blank">
                                        <i class="fab fa-github fa-2x" style="font-size:36px;"></i>
                                    </a>

                                </v-card-text>
                            </v-card>

                        </v-flex>

                        <v-flex>
                            <v-card flat class="text-center" color="blue darken-4" outlined>
                                <v-card-text class="white--text">

                                    &nbsp;

                                </v-card-text>
                            </v-card>

                        </v-flex>

                    </v-layout>
                </v-container>

                <v-speed-dial fab bottom left absolute>

                    <v-btn slot="activator" v-model="fab" color="blue darken-4" dark fab>
                        <v-icon>fa-share-alt</v-icon>
                    </v-btn>

                    <v-btn fab dark small color="indigo darken-1">
                        <v-icon>fab fa-facebook-f</v-icon>
                    </v-btn>

                    <v-btn fab dark small color="blue darken-4">
                        <v-icon>fab fa-twitter</v-icon>
                    </v-btn>

                    <v-btn fab dark small color="#0097a7">
                        <v-icon>fab fa-linkedin</v-icon>
                    </v-btn>

                    <v-btn fab dark small color="blue lighten-1">
                        <v-icon>far fa-envelope</v-icon>
                    </v-btn>

                </v-speed-dial>

                <v-card flat class="text-center mb-n5" color="blue darken-4" outlined>
                    <v-card-text class="white--text font-weight-bold">
                        snowtricks.com - &copy; [+[ new Date().getFullYear() ]+]
                    </v-card-text>
                </v-card>

                <div class="medium-spacer"></div>
                
            </v-col>

        </v-layout>

    </v-container>

</v-footer>

<v-btn v-scroll="onScroll" v-show="fab" fab dark fixed bottom right color="rgb(0, 0, 0, 0.2)" @click="toTop">
    <v-icon>fa-chevron-up</v-icon>
</v-btn>

</v-app>
</div>
