
{% for mention in figure.mentions | slice(start, start + 5) %}

   <div class="billy" style="border:10px solid cornflowerblue; width:100%; background-color:white;">

        <img src="{{ asset('uploads/avatars/' ~ '/' ~ mention.user.avatar) }}">

        <p class="body-1" style="color:dimgrey;">Par {{ mention.user.username|upper }} le {{ mention.createdAt | date('d/m/Y à H:i') }}</p>
        
        <p class="body-1" style="color:dimgrey;">{{ mention.content | striptags | raw }}</p>
                        
    </div>

{% endfor %}
