{% if app.user %}

<v-btn fab elevation="0" color="rgba(255,255,255,0)" fixed @click="profile = !profile" class="btn-profile white--text" alt="Compte" title="Compte">
    {# <v-icon>fas fa-plus</v-icon> #}
    <img class="profile-mini-img" src="{{ asset('uploads/avatars/' ~ '/' ~ app.user.avatar) }}">
</v-btn>

<v-dialog v-model="profile" max-width="500px">
    
    <v-card class="pa-2" color="rgba(255,255,255,0.85)">

        <v-card-text class="mt-6 text-center">

            <i class="fas fa-user"></i>
            <div class="regular-spacer"></div>
            <a class="font-weight-bold" href="{{ path('account') }}">MODIFIER MON COMPTE</a>

        </v-card-text>

    </v-card>

</v-dialog>

{% endif %}
